@page "/CarPriceList"
@using Insure.Services
@using System.Collections.ObjectModel;
@inject grpcInsureService.grpcInsureServiceClient insureServiceClient;
@inject MasterService masterService;
@inject IJSRuntime JsRuntime;
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<div style="width:30rem">
    <MyComboBox @ref="RefProduct"
                Value="SelectedProduct"
                ValueChanged="@((ProductModel value) => Product_Changed(value))"
                Data="@ProductList"
                Literal="Sản phẩm"
                TextFieldName="@nameof(ProductModel.ProductName)">
    </MyComboBox>
</div>
<br />

<MyDataGrid @ref="@grid"
            T="CarPriceModel"
            Title="Danh sách sản phẩm"
            Items="@DetailData"
            IsAddNew="true"
            IsDelete="true"
            Dense=true
            OnAddRow="@(() => OnAddRow_Handle())"
            OnViewRow="@((CarPriceModel row) => OnViewRow_Handle(row))"
            OnDeleteRow="@((CarPriceModel row) => OnDeleteRow_Handle(row))">
    <ColGroup>
        <col style="width: 8rem;" />
        <col />
        <col style="width: 6rem;" />
        <col style="width: 6rem;" />
        <col style="width: 6rem;" />
        <col style="width: 6rem;" />
        <col style="width: 8rem;" />
        <col style="width: 9rem;" />
    </ColGroup>
    <HeaderContent>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<CarPriceModel, object>(x => x.BusinessTypeName)">Hình thức</MudTableSortLabel></MudTh>
        <MudTh>Loại xe</MudTh>
        <MudTh>Số chỗ ngồi</MudTh>
        <MudTh>Đến</MudTh>
        <MudTh>Số tấn</MudTh>
        <MudTh>Đến</MudTh>
        <MudTh>Giá bán</MudTh>
        <MudTh>Cập nhật cuối</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.BusinessTypeName</MudTd>
        <MudTd>@context.CarTypeName</MudTd>
        <MudTd Style="color:green; font-weight: bold; text-align:end">@context.FromSeatCount.ToString("N0")</MudTd>
        <MudTd Style="color:maroon; font-weight: bold; text-align:end">@context.ToSeatCount.ToString("N0")</MudTd>
        <MudTd Style="color:green; font-weight: bold; text-align:end">@context.FromTonage.ToString("N0")</MudTd>
        <MudTd Style="color:maroon; font-weight: bold; text-align:end">@context.ToTonage.ToString("N0")</MudTd>
        <MudTd Style="color:blue; font-weight: bold; text-align:end">@context.UnitPrice.ToString("N0")</MudTd>
        <MudTd Style="text-align:center;">@context.ModifiedOn.ToString("dd/MM/yyyy HH:mm")</MudTd>
    </RowTemplate>
</MyDataGrid>

@code {
    [CascadingParameter] protected ProgramInfo Program { get; set; }
    // Detail data
    MyDataGrid<CarPriceModel> grid;
    readonly List<CarPriceModel> DetailData = new List<CarPriceModel>();
    // Combo box
    ProductModel SelectedProduct;
    MyComboBox<ProductModel> RefProduct;
    private List<ProductModel> ProductList = new List<ProductModel>();
    //
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        //Display data ..
        await DisplayMain();

        //Car product list
        ProductList = await masterService.Load_CarProductList();
    }
    #region Load data

    async Task DisplayMain()
    {
        try
        {
            //Filter
            var requestString = new String_Request()
                {
                    Credential = new UserCredential()
                    {
                        Username = WebUserCredential.Username,
                        RoleID = WebUserCredential.RoleID,
                        AccessToken = WebUserCredential.AccessToken,
                        ApiKey = WebUserCredential.ApiKey
                    },
                    StringValue = ProductID
                };

            //Get data from DB
            DetailData.Clear();
            var response = await insureServiceClient.GetCarPriceListAsync(requestString);
            if (response != null && response.ReturnCode == 200)
            {
                foreach (var record in response.Records)
                {
                    CarPriceModel dataRow = new CarPriceModel();
                    ClassHelper.CopyPropertiesDataDateConverted(record, dataRow);
                    //
                    DetailData.Add(dataRow);
                }
                this.StateHasChanged();
            }
        }
        catch
        {
            Snackbar.Add(MyMessage.Error_LoadDataFailed, Severity.Error);
        }
    }

    #endregion


    #region Grid main
    //Save Row
    async Task<bool> SaveRow(CarPriceModel saveRow)
    {
        try
        {
            //Request
            var request = new SaveCarPriceList_Request();
            var Credential = new UserCredential()
                {
                    Username = WebUserCredential.Username,
                    RoleID = WebUserCredential.RoleID,
                    AccessToken = WebUserCredential.AccessToken,
                    ApiKey = WebUserCredential.ApiKey
                };
            request.Credential = Credential;
            // Convert to DB row
            request.Record = new grpcCarPriceListModel();
            ClassHelper.CopyPropertiesDataDateConverted(saveRow, request.Record);

            // Call api
            var response = await insureServiceClient.SaveCarPriceListAsync(request);
            // Success
            if (response == null || response.ReturnCode != GrpcReturnCode.OK)
            {
                Snackbar.Add(MyMessage.Error_SaveFailed, Severity.Error);
            }
            else
            {
                //Update ID
                saveRow.ID = response.StringValue;
            }
            //OK
            return true;
        }
        catch
        {
            Snackbar.Add(MyMessage.Error_SaveFailed, Severity.Error);
        }
        //
        return false;
    }

    //Add row
    async void OnAddRow_Handle()
    {
        //Check has selected car
        if (SelectedProduct == null)
        {
            RefProduct.Focus();
            Snackbar.Add("Chưa chọn sản phẩm", Severity.Error);
            return;
        }

        //Init new row
        var newRow = new CarPriceModel();
        newRow.ProductID = SelectedProduct.ProductID;
        newRow.VendorID = SelectedProduct.VendorID;
        newRow.UpdMode = 1;
        newRow.ModifiedOn = DateTime.Now;
        //
        var parameters = new DialogParameters();
        parameters.Add("Model", newRow);
        //
        var result = await DialogService.Show<CarPriceEdit>("", parameters, MyOptions.ShowEditFormOptions(MaxWidth.Large)).Result;
        if (!result.Cancelled && result.Data != null)
        {
            var retModel = (CarPriceModel)result.Data;

            //Save to DB
            var saveRet = await SaveRow(retModel);
            if (saveRet)
            {
                //Add to grid
                DetailData.Add(retModel);
                grid.Refresh();
            }
        }
    }
    //Update row
    async void OnViewRow_Handle(CarPriceModel row)
    {
        //UpdMode
        row.UpdMode = 2;
        //
        var parameters = new DialogParameters();
        parameters.Add("Model", row);
        //
        var result = await DialogService.Show<CarPriceEdit>("", parameters, MyOptions.ShowEditFormOptions(MaxWidth.Large)).Result;
        if (!result.Cancelled && result.Data != null)
        {
            var retModel = (CarPriceModel)result.Data;
            var updateReccord = DetailData.Find(x => x.ID == retModel.ID);
            if (updateReccord != null)
            {
                //Update to Grid
                ClassHelper.CopyPropertiesData(retModel, updateReccord);

                //Save to DB
                var saveRet = await SaveRow(retModel);
                if (saveRet)
                {
                    grid.Refresh();
                }
            }
        }
    }

    //Delete row
    async void OnDeleteRow_Handle(CarPriceModel row)
    {
        //UpdMode
        row.UpdMode = 3;

        //Save to DB
        var saveRet = await SaveRow(row);
        if (saveRet)
        {
            DetailData.Remove(row);
            grid.Refresh();
        }
    }

    private string ProductID = "";
    async void Product_Changed(ProductModel product)
    {
        ProductID = "";
        SelectedProduct = product;
        if (product == null) return;
        ProductID = product.ProductID;
        //
        await DisplayMain();
    }

    #endregion
    //
}