@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager Navigation
@inject IAuthenticationService AuthService

<AuthorizeView>
    <Authorized>
        <div class="d-flex gap-1 flex-nowrap">
            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                <h6 style="color:darkblue; margin:auto">Hello, @WebUserCredential.Fullname</h6>
            </MudHidden>
            <MudIconButton Icon="@Icons.Material.Filled.Logout" Color="Color.Primary" OnClick="@((e) => LogOut())" />
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="d-flex gap-1 flex-nowrap">
            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                <h6 class="m-auto" Style="@($"color:{Colors.Red.Default};")">Hello, You need to login.</h6>
            </MudHidden>
            <MudIconButton Icon="@Icons.Material.Filled.Login" Color="Color.Secondary" OnClick="@((e) => LogIn())" />
        </div>

    </NotAuthorized>
</AuthorizeView>

@code {
    private void LogOut()
    {
        AuthService.Logout();
        Navigation.NavigateTo("/");
    }

    private void LogIn()
    {
        Navigation.NavigateTo("/login");
    }
}
